.footer{
    width:100%;
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap:50px;
    background:linear-gradient(to right , white, grey);
    height:500px;

}
.footer-logo{
    display:flex;
    align-items: center;
    gap:10px;
    margin-bottom: 0px;
}
.footer-logo p{
    color:rgb(42, 30, 30);;
    font-size: 46px;
    font-weight: 700;
}
.footer-links{
    margin-top: 0px;
    display:flex;
    list-style: none;
    gap:50px;
    color:rgb(42, 30, 30);
    font-size: 20px;
}
.footer-links li{
    cursor:pointer;
}
.footer-social-icons{
    margin-top: 0px;
    display:flex;
    gap:50px;
    height: 30px;
}
.footer-icons-container{
    padding:10px;
    padding-bottom:6px;
    background:#fbfbfb;
    border:1px solid #ebebeb
}
.footer-copyright{
    display:flex;
    flex-direction: column;
    align-items: center;
    gap:10px;
    width:100%;
    margin-bottom:30px;
    color:rgb(42, 30, 30);;
    font-size:20px;
}
.footer-copyright hr{
    width:80%;
    border:none;
    border-radius:10px;
    height:3px;
    background:#c7c7c7
}
.footer-address{
    font-size: 18px;
    font-weight: 600;
    align-items: center;
}
@media(max-width:800px){
    .footer{
        height:50vh;
        gap:20px;
    }
    
    .footer-logo{
        
        gap:10px;
        align-items:end;
    }
    .footer-logo img{
        margin-bottom:18px;
        width:40px;
    }
    .footer-logo p{
        font-size: 25px;
    }
    .footer-address{
       font-size:12px ;
    }
    .footer-copyright{
        font-size: 12px;
    }
}